<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body class="container">
    <h2>READ Patient entity</h2>


    <p>Search by patient id:</p>
    <form>


        <div class="form-group">
            <label for="exampleInputEmail1">patient id:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter patient id">
        </div>

        <button type="submit" class="btn btn-primary">Read</button>
    </form>
</body>

</html>