<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body class="container">
    <h2>Entities</h2>

    <a href="hospital/hospital">
        <button type="button" class="btn btn-primary">
            Hospital
        </button>
    </a>

    <a href="patient/patient">
        <button type="button" class="btn btn-primary">
            Patient</button>
    </a>

    <a href="medicine/medicine">
        <button type="button" class="btn btn-primary">
            Medicine</button>  
    </a>
    
    <a href="payment/payment">
        <button type="button" class="btn btn-primary">
            Mode of payment</button>
    </a>
    
    <a href="patientfeedback/patientfeedback">
        <button type="button" class="btn btn-primary">
            patient_feedback
        </button>
    </a>

    <a href="employee/employee">
        <button type="button" class="btn btn-primary">
            Employee
        </button>
    </a>

    <a href="doctor/doctor">
        <button type="button" class="btn btn-primary">
            Doctor
        </button>
    </a>
</body>

</html>