<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body class="container">
    <h2>Entities</h2>

    <a href="hospital/hospital">
        <button type="button" class="btn btn-primary">
            Hospital
        </button>
    </a>
    <button type="button" class="btn btn-primary">Patient</button>
    <button type="button" class="btn btn-primary">Medicine</button>
    <button type="button" class="btn btn-primary">Mode of payment</button>
    <button type="button" class="btn btn-primary">patient_feedback</button>
    <a href="employee/employee">
        <button type="button" class="btn btn-primary">
            Employee
        </button>
    </a>

    <a href="medicine/medicine">
        <button type="button" class="btn btn-primary">
            Medicine
        </button>
    </a>
</body>

</html>